.SearchResult {

  &__title {
    margin-top: 0;
  }

  &__content {
    &-row {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;
      &_titles {
        justify-content: space-between;
      }

      &_values {
        & span {
          width: 100%;
          text-align: left;
        }
      }
    }
  }
}